body {
    font-family: Arial, sans-serif;
    font-style: italic;
    background-color: #f5f5f5;
    background-image: url('https://images.inc.com/uploaded_files/image/1920x1080/getty_638884198_366705.jpg');
    margin: 0;
    padding: 0;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color:lavender;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#add-task {
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    display: block;
}

input[type="text"],
textarea,
input[type="date"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #139fd1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    background-color: #09541f;
    color: #3c763d;
    text-decoration: line-through;
}

.delete-button{
    background-color: red;
}

.edit-button,
.delete-button,
.complete-button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.edit-button:hover,
.complete-button:hover {
    background-color: #ccc;
}
